Node-Red-RelayFlow.txt
[{"id":"95cdaa9c.5f6c38","type":"mqtt out","z":"c28bbc7a.abc76","name":"","topic":"HomeOutTopic","qos":"2","retain":"false","broker":"8aa7cb45.8ee4f8","x":560.7000045776367,"y":356.2000160217285,"wires":[]},{"id":"a72724b2.49da88","type":"ui_button","z":"c28bbc7a.abc76","name":"","group":"149bfe70.f770d2","order":1,"width":0,"height":0,"label":"Relay 1 ON","color":"white","bgcolor":"","icon":"fingerprint","payload":"1","payloadType":"num","topic":"HomeOutTopic","x":139.70000457763672,"y":47.200016021728516,"wires":[["95cdaa9c.5f6c38","83b74c14.84fde"]]},{"id":"5c275e85.171aa","type":"ui_button","z":"c28bbc7a.abc76","name":"","group":"149bfe70.f770d2","order":2,"width":0,"height":0,"label":"Relay 1 OFF","color":"black","bgcolor":"","icon":"fingerprint","payload":"0","payloadType":"num","topic":"HomeOutTopic","x":142.70000457763672,"y":124.20001602172852,"wires":[["95cdaa9c.5f6c38","83b74c14.84fde"]]},{"id":"83b74c14.84fde","type":"debug","z":"c28bbc7a.abc76","name":"","active":true,"console":"false","complete":"payload","x":593.2000350952148,"y":133.20001411437988,"wires":[]},{"id":"a72a42ab.f024b","type":"ui_button","z":"c28bbc7a.abc76","name":"","group":"149bfe70.f770d2","order":3,"width":0,"height":0,"label":"Relay 2 ON","color":"white","bgcolor":"","icon":"fingerprint","payload":"3","payloadType":"num","topic":"","x":146.20001983642578,"y":223.20000648498535,"wires":[["95cdaa9c.5f6c38","83b74c14.84fde"]]},{"id":"e0483e92.bd0bb","type":"ui_button","z":"c28bbc7a.abc76","name":"","group":"149bfe70.f770d2","order":4,"width":0,"height":0,"label":"Relay 2 OFF","color":"black","bgcolor":"","icon":"fingerprint","payload":"2","payloadType":"num","topic":"","x":140.20000457763672,"y":298.2000160217285,"wires":[["95cdaa9c.5f6c38","83b74c14.84fde"]]},{"id":"759da57a.c1c1bc","type":"ui_button","z":"c28bbc7a.abc76","name":"","group":"149bfe70.f770d2","order":5,"width":0,"height":0,"label":"Relay 3 ON","color":"white","bgcolor":"","icon":"fingerprint","payload":"5","payloadType":"num","topic":"","x":137.20000457763672,"y":374.2000160217285,"wires":[["95cdaa9c.5f6c38","83b74c14.84fde"]]},{"id":"2c8c2eb1.738f52","type":"ui_button","z":"c28bbc7a.abc76","name":"","group":"149bfe70.f770d2","order":6,"width":0,"height":0,"label":"Relay 3 OFF","color":"black","bgcolor":"","icon":"fingerprint","payload":"4","payloadType":"num","topic":"","x":140.20000457763672,"y":451.2000160217285,"wires":[["95cdaa9c.5f6c38","83b74c14.84fde"]]},{"id":"cf235a92.ad43f8","type":"ui_button","z":"c28bbc7a.abc76","name":"","group":"149bfe70.f770d2","order":7,"width":0,"height":0,"label":"Relay 4 ON","color":"white","bgcolor":"","icon":"fingerprint","payload":"7","payloadType":"num","topic":"","x":137.20000457763672,"y":534.2000160217285,"wires":[["95cdaa9c.5f6c38","83b74c14.84fde"]]},{"id":"ca4ea833.c81ae8","type":"ui_button","z":"c28bbc7a.abc76","name":"","group":"149bfe70.f770d2","order":8,"width":0,"height":0,"label":"Relay 4 OFF","color":"black","bgcolor":"","icon":"fingerprint","payload":"6","payloadType":"num","topic":"","x":140.20000457763672,"y":611.2000160217285,"wires":[["95cdaa9c.5f6c38","83b74c14.84fde"]]},{"id":"8aa7cb45.8ee4f8","type":"mqtt-broker","z":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"149bfe70.f770d2","type":"ui_group","z":"","name":"Touch Pad","tab":"bbe8b27.f7cef5","order":5,"disp":true,"width":"6"},{"id":"bbe8b27.f7cef5","type":"ui_tab","z":"","name":"Humidity","icon":"dashboard","order":2}]